<!DOCTYPE html>
<html>
	<head>
		<title>BOXING GYM TIMER</title>
		<link rel="stylesheet" type="text/css" href="../build/main.css" />
	</head>
	<body>
		<h1>Boxing Gym Timer</h1>
		<div class='lights'>
			<div id='red-light' class='inactive'><p>RED</p></div>
			<div id='yellow-light' class='inactive'><p>YELLOW</p></div>
			<div id='green-light' class='inactive'><p>GREEN</p></div>
			<div id='time-label'></div>
		</div>
		<div class='dash'>
			<button id='start-button'><p>Start</p></button>
			<button id='stop-button'><p>Stop</p></button>
			<button id='reset-button'><p>Reset</p></button>
		</div>
		<script src='../build/build.js'></script>
	</body>
</html>